.header-container {
  display: flex;
  align-items: flex-end;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  /* outline: 1px red solid; */
  z-index: 9;
}

.blogr {
  font-size: 1.8rem;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  padding: 0.7rem;
  padding-left: 1.5rem;
  color: white;
}
@media (min-width: 769px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: 30px;
    width: 100%;
    justify-content: space-between;
    /* outline: 1px red solid; */
    z-index: 9;
    text-align: center;
  }
  .blogr {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    padding: 0rem;

    padding-left: 6vw;
    margin-right: -2rem;
    font-size: 2.6rem;
  }
  .desktop-drop-container {
    margin-left: 2rem;
    margin-right: 8rem;
    justify-content: space-between;
  }
  .desktop-drop-menus-container {
    display: flex;
  }

  .loginsignup-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .blogr {
    padding-left: 8vw;
    margin: 0;
  }
}
